.ep-table {
  border-collapse: collapse;
}

.ep-th {
  text-align: left;
  padding-left: 10px;
  padding-right: 30px;
  background-color: rgb(247, 247, 247);
  height: 50px;
  white-space: nowrap;
}
.ep-tr {
  height: 60px;
}

.ep-td {
  padding-left: 8px;
}

.ep-td-more {
  height: 0rem;
  overflow: hidden;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;

  transition: all 0.5s;
}
.ep-td-expanded {
  height: 10rem;
}

.ep-tr:nth-child(n) {
  background-color: rgba(150, 212, 212, 0.247);
}
.ep-tr:nth-child(4n-1) {
  background-color: white;
}
.ep-tr-blank:nth-child(odd) {
  background-color: rgba(150, 212, 212, 0.247);
  height: 60px;
}
.ep-tr-blank:nth-child(even) {
  background-color: white;
  height: 60px;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: start;
}
.align-items-center {
  align-items: center;
}
.ps-2 {
  padding-left: 10px;
}
.fw-bold {
  font-weight: bold;
}
.text-nowrap {
  white-space: nowrap;
}
