.sales-table {
  border-collapse: collapse;
  width: 100%;
}

.sales-th {
  text-align: left;
  padding-left: 10px;
  background-color: rgb(247, 247, 247);
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sales-tr {
  height: 40px;
}
.sales-body {
  max-height: 2rem;
  overflow-y: auto;
}
.sales-td {
  padding-left: 10px;
}
.text-center {
  text-align: center;
}
.py-5 {
  padding-top: 15px;
  padding-bottom: 15px;
}
