.report-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.report-th {
  text-align: left;
  padding-left: 10px;
  background-color: rgb(247, 247, 247);
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}
.report-tr {
  height: 40px;
}
.report-tr:nth-child(even) {
  background-color: #e9e9e9;
}
.report-tr:nth-child(odd) {
  background-color: #ffffff;
}
.report-body {
  max-height: 2rem;
  overflow-y: auto;
}
.report-td {
  padding-left: 10px;
}
.py-5 {
  padding-top: 15px;
  padding-bottom: 15px;
}
